@model PupuseriaSalvadorena.Models.Impuesto

<form id="impuestoForm" asp-action="Create" asp-controller="Impuestos" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Estado" class="form-control" value="true" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NombreImpuesto" class="control-label"></label>
                <input asp-for="NombreImpuesto" class="form-control" />
                <span asp-validation-for="NombreImpuesto" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Tasa Porcentual</label>
                <div class="input-group">
                    <span class="input-group-text">%</span>
                    <input asp-for="Tasa" class="form-control" />
                    <span asp-validation-for="Tasa" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <textarea asp-for="Descripcion" class="form-control" id="CampoArea"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="button" id="submitCreateForm" class="btn btn-primary agregar-boton">Agregar</button>
    </div>
</form>