@model PupuseriaSalvadorena.Models.Presupuesto

<form id="editPresupuestoForm" asp-action="Edit" asp-controller="Presupuestoes" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdPresupuesto" />
    <input type="hidden" asp-for="SaldoUsado" class="form-control" />
    <div class="card-body card-body-custom">
        <div class="row no-gutters">
            <div class="col text-center item">
                <div class="item-value"><strong>Saldo en Libros</strong></div>
                <div class="text-note">₡@ViewBag.SaldoLibros</div>
            </div>
            <div class="col text-center item">
                <div class="item-value"><strong>Saldo Disponible</strong></div>
                <div id="SaldoDisponibleE" class="text-note" data-saldo="@ViewBag.SaldoPresupuestos">₡@ViewBag.SaldoPresupuestos</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Nombre del Presupuesto</label>
        <input asp-for="NombreP" class="form-control" placeholder="Nombre del presupuesto" />
        <span asp-validation-for="NombreP" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Fecha de Inicio</label>
                <input asp-for="FechaInicio" class="form-control" type="date" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Fecha de Finalización</label>
                <input asp-for="FechaFin" class="form-control" type="date" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Saldo del Presupuesto</label>
            <div class="input-group">
                <span class="input-group-text">₡</span>
                <input asp-for="SaldoPresupuesto" class="form-control" id="SaldoIncialE" />
                <span asp-validation-for="SaldoPresupuesto" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select asp-for="IdCategoriaP" asp-items="@ViewBag.CategoriasP" class="form-control" id="CategoriaE">
                    <option value="">Seleccione una Categoria</option>
                </select>
                <span asp-validation-for="IdCategoriaP" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Descripcion</label>
        <textarea asp-for="Descripcion" class="form-control" id="CampoArea"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group form-check" style="padding-left: 0; margin-bottom: 0 !important;">
        <input asp-for="Estado" type="checkbox" name="Estado" id="check" class="form-check-input" />
        <label for="check" class="form-check-label CheckboxTransac"><span></span></label>Estado
    </div>
    <div class="form-group text-right">
        <button type="submit" id="submitEditPresupuesto" class="btn btn-primary agregar-boton">Editar</button>
    </div>
</form>