@model PupuseriaSalvadorena.Models.DetalleTransaccion

@{
    Model.FechaTrans = Model.FechaTrans == default ? DateTime.Now : Model.FechaTrans;
}

<form id="detallesTForm" asp-action="Create" asp-controller="DetallesTransacciones" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Monto" class="form-control" id="MontoTotal" type="hidden" />
    <input type="hidden" asp-for="Conciliado" class="form-control" value="false">
    <div class="card-body card-body-custom">
        <div class="row no-gutters">
            <div class="col text-center item">
                <div class="item-value">Subtotal</div>
                <div id="montoDisplay" class="text-note">₡0.00</div>
            </div>
            <div class="col text-center item">
                <div class="item-value">Impuesto</div>
                <div id="inputMontoImpuesto" class="text-note">₡0.00</div>
            </div>
            <div class="col text-center item">
                <div class="item-value">Total</div>
                <div asp-for="DescripcionTransaccion" id="inputMontoTotal" class="text-note">₡0.00</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Descripcion</label>
        <input asp-for="DescripcionTransaccion" class="form-control" />
        <span asp-validation-for="DescripcionTransaccion" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Monto</label>
                <div class="input-group">
                    <span class="input-group-text">₡</span>
                    <input class="form-control" id="inputMonto" />
                    <span asp-validation-for="Monto" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Cantidad</label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Impuesto</label>
                <select asp-for="IdImpuesto" asp-items="@ViewBag.Impuestos" class="form-control" id="IdImpuesto">
                    <option value="">Seleccione un impuesto</option>
                </select>
                <span asp-validation-for="IdImpuesto" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Tipo de Transaccion</label>
                <select asp-for="IdTipo" class="form-control" id="IdTipo">
                    <option value="">Seleccione un tipo de transaccion</option>
                </select>
                <span asp-validation-for="IdTipo" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Fecha de la Transaccion</label>
                <input asp-for="FechaTrans" class="form-control" type="date"/>
                <span asp-validation-for="FechaTrans" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-check" style="padding-left: 0; margin-bottom: 0 !important; margin-top: 2.35rem !important;">
                <input asp-for="Recurrencia" type="checkbox" name="Recurrencia" id="check" class="form-check-input" />
                <label for="check" class="form-check-label CheckboxTransac"><span></span></label>@Html.DisplayNameFor(model => model.Recurrencia)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group recurrence-fields">
                <label for="FechaRecurrencia">Dia de la Transaccion</label>
                <input asp-for="FechaRecurrencia" type="date" class="form-control" />
                <span asp-validation-for="FechaRecurrencia" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group recurrence-fields">
                <label for="Frecuencia">Frecuencia</label>
                <select asp-for="Frecuencia" class="form-control">
                    <option value="No Recurrente">Seleccionar...</option>
                    <option value="Semanal">Semanal</option>
                    <option value="Mensual">Mensual</option>
                    <option value="Anual">Anual</option>
                </select>
                <span asp-validation-for="Frecuencia" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group text-right">
        <button type="button" id="submitDetallesForm" class="btn btn-primary agregar-boton">Agregar</button>
    </div>
</form>