#AddPronostico {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddPronostico:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddFacturaVenta {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddFacturaVenta:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

.eliminarPlatillo {
    color: black !important;
    background-color: white !important;
    border-radius: 0.5rem !important;
    border-color: white !important;
    padding: 0.5rem !important;
    padding-top: 0.2rem !important;
    margin-top: 1.95rem !important;
}

.eliminarPlatillo:hover {
    color: #BE3144 !important;
}

#AddTransaccionP {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddTransaccionP:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddTransaccion {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddTransaccion:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

.agregar-boton {
    background-color: #0DBCB5 !important;
    border-color: #0DBCB5 !important;
    border-radius: 0.5rem !important;
}

.agregar-boton:hover {
    background-color: #72DDD9 !important;
    border-color: #72DDD9 !important;
}

#AddPresupuesto {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddPresupuesto:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddImpuesto {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddImpuesto:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddTipoT {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddTipoT:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddTipoM {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddTipoM:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddProveedor {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddProveedor:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddTipoF {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddTipoF:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddTipoP {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddTipoP:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddFacturaC {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddFacturaC:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddHistorialC {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    border-radius: 0.5rem;
}

#AddHistorialC:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}


.modal-header {
    background-color: #0DBCB5;
    color: white;
}

#submitFacturaC {
    background-color: #0DBCB5;
    border-radius: 0.5rem;
    border-color: #0DBCB5;
}

#submitFacturaC:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#CampoArea {
    resize: none;
}

.theme-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 9em;
    color: black;
    background-color: white;
    padding: 0.5em;
    transition: .4s;
    z-index: 1;
    border-radius: 0.2rem;
    border: 1px solid #D8D9DA;
}

.name::before {
    color: black;
    content: "Pagado";
    margin-right: 2em;
    transition: .2s ease-in-out;
}

.name::after {
    color: black;
    content: "Por Pagar";
    margin-right: 1.7em;
    transition: .2s ease-in-out;
    display: none;
}

.theme-switch .slider {
    position: absolute;
    background-color: #F0F0F0;
    margin-left: 6.2em;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.theme-switch:hover {
    color: white;
    cursor: pointer;
    background-color: #72DDD9;
}

.theme-switch:hover .name::before {
    color: white;
}

.theme-switch:hover .name::after {
    color: white;
}

.theme-switch input[type=checkbox]:checked + .slider {
    transform: rotate(360deg);
    box-shadow: none;
    border: 3.5px solid #D8D9DA;
    background-color: #0DBCB5;
}

.theme-switch input[type=checkbox]:checked ~ .name::before {
    display: none;
}

.theme-switch input[type=checkbox]:checked ~ .name::after {
    display: block;
}

.theme-switch input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

.slider {
    transition: 300ms ease;
}

.link-icon svg {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

#BtnEditar {
    color: black;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: transparent;
    padding: 0.5rem;
    padding-top: 0.2rem;
}

#BtnEditar:hover {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    color: white;
}

#BtnEliminar {
    color: black;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: transparent;
    padding: 0.5rem;
    padding-top: 0.2rem;
}

#BtnEliminar:hover {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    color: white;
}

#BtnPagar {
    color: black;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: transparent;
    padding: 0.5rem;
    padding-top: 0.2rem;
}

#BtnPagar:hover {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    color: white;
}

#BtnImprimir {
    color: black;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: transparent;
    padding: 0.5rem;
    padding-top: 0.2rem;
}

#BtnImprimir:hover {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    color: white;
}

#BtnDetalles {
    color: black;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: transparent;
    padding: 0.5rem;
    padding-top: 0.2rem;
}

#BtnDetalles:hover {
    background-color: #0DBCB5;
    border-color: #0DBCB5;
    color: white;
}

#AddCuentaPagar {
    background-color: #0DBCB5;
    border-radius: 0.5rem;
    border-color: #0DBCB5;
}

#AddCuentaPagar:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

#AddDetalleCuenta {
    background-color: #0DBCB5;
    border-radius: 0.5rem;
    border-color: #0DBCB5;
    color: white;
}

#AddDetalleCuenta:hover {
    background-color: #72DDD9;
    border-color: #72DDD9;
}

/* Campos Card */
/* ----------------------------------- */
.card-body-custom {
    background-color: #ffffff;
    border: 1px solid #ddd !important;
    border-radius: 0.5rem;
    padding: 0 !important;
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.table-body-custom {
    background-color: #ffffff;
    border: 1px solid #ddd !important;
    border-radius: 0.5rem;
    padding: 0 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.table-body-custom2 {
    background-color: #ffffff;
    border: 1px solid #ddd !important;
    border-radius: 0.5rem;
    padding: 0 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    align-items: flex-start;
    justify-content: center;
}


.row.no-gutters {
    display: flex;
    flex-grow: 1;
    width: 100%; 
}

.item {
    text-align: center;
    border-right: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

.item:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


.item:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-right: 0;
}

card-body2 {
    flex: 1;
}

.item2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-top: 0 !important;
}

.item2:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


.item2:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-right: 0;
}

.text-note {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.25rem;
}

#TituloPresupuesto {
    margin-bottom: 0 !important;
    text-align: center;
}

#TituloPresupuesto h5 {
    margin-bottom: 0 !important;
}

#Titulo {
    text-align: center;
}

/* ----------------------------------- */
/* Campos Cartas Presupuestos */
.CartasPresupuestos {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(13, 188, 181, 0.5);
    height: 160px;
    justify-content: left !important;
    margin: 12px;
    width: 235px;
    overflow: hidden;
    padding: 32px 24px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    animation-name: CartasPresupuestos;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.botones {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 10px; 
}

.botoneslibros {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 12px;
}

.CartasPresupuestos:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #72DDD9;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.CartasPresupuestos:hover:before {
    transform: scale(21);
}

.CartasPresupuestos .print-Presupuesto {
    margin-right: 0.5rem;
}

.CartasPresupuestos .edit-Presupuesto {
    margin-right: 0.5rem;
}

.CartasPresupuestos h5,
.CartasPresupuestos .small {
    align-self: flex-start;
}

.CartasPresupuestos:hover small {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.CartasPresupuestos:hover h5 {
    transition: all 0.3s ease-out;
    color: #ffffff;
}

.CartasPresupuestos:hover {
    cursor: pointer;
}

@keyframes CartasPresupuestos {
    0% { transform: scale(0); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #72DDD9;
    border-radius: 0 4px 0 32px;
}

/* ----------------------------------- */
/* Campos Cartas Presupuestos */
.CartasAcciones {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(13, 188, 181, 0.5);
    height: 105px;
    justify-content: left !important;
    margin: 12px;
    width: auto;
    overflow: hidden;
    padding: 32px 24px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    animation-name: CartasAcciones;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.CartasAcciones:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #72DDD9;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.CartasAcciones:hover:before {
    transform: scale(21);
}

.CartasAcciones .print-Presupuesto {
    margin-right: 0.5rem;
}

.CartasAcciones .edit-Presupuesto {
    margin-right: 0.5rem;
}

.CartasAcciones h5,
.CartasAcciones .small {
    align-self: flex-start;
}

.CartasAcciones:hover small {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.CartasAcciones:hover h4 {
    transition: all 0.3s ease-out;
    color: #ffffff !important;
}

.CartasAcciones:hover {
    cursor: pointer;
}

@keyframes CartasAcciones {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #72DDD9;
    border-radius: 0 4px 0 32px;
}

/* ----------------------------------- */
/* Checkboxs */

.CheckboxTransac {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin-bottom: 0 !important;
}

label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #808080;
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89);
}

label span:before, label span:after {
    content: "";
    position: absolute;
    height: 2px;
    border-radius: 2px;
    background: #0DBCB5;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}

label span:before {
    width: 0px;
    transform: rotate(45deg);
    top: 10px;
    left: 7px;
    transition: width 50ms ease 50ms;
}

label span:after {
    width: 0;
    transform: rotate(305deg);
    top: 14px;
    left: 8px;
}

label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}

label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label span {
    background-color: transparent;
    transform: scale(1.25);
}

input[type="checkbox"]:checked + label span:before,
input[type="checkbox"]:checked + label span:after {
    background: #0DBCB5;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked + label span:before {
    width: 5px;
}

input[type="checkbox"]:checked + label span:after {
    width: 10px;
}

input[type="checkbox"]:checked + label:hover span {
    background-color: transparent;
    transform: scale(1.25);
}

input[type="checkbox"]:checked + label:hover span:before,
input[type="checkbox"]:checked + label:hover span:after {
    background: #0DBCB5;
}

/* ----------------------------------- */
/* Barra de Progreso */

#progressContainer{
    border-radius: 0.5rem
}

#progressBar {
    border-radius: 0.5rem;
    transition: width 1s ease-out;
    width: 1%;
    height: 20px;
    background-color: #0DBCB5;
}

/* ----------------------------------- */
/* Graficos */
#DoughnutChart {
    max-width: 280px;
    max-height: 210px;
    aspect-ratio: 1 / 1;
}

#PVentasChart {
    max-height: 250px;
    aspect-ratio: 1 / 1;
}

#IngresosEgresosChart {
    max-height: 250px;
    aspect-ratio: 1 / 1;
}

#FacturasChart {
    max-height: 280px;
    aspect-ratio: 1 / 1;
}

#ComprasMatChart {
    max-width: auto;
    max-height: 200px;
    aspect-ratio: 1 / 1;
}

/* ----------------------------------- */
/* Radio */
.factura-switch .btn {
    border-radius: 0.5rem;
    width: 50%;
    background-color: #FFF;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
    border: 1px solid #dee2e6;
}

.factura-switch .btn.active, .factura-switch .btn:active, .factura-switch .btn:checked + .btn {
    background-color: #0DBCB5 !important; 
    color: #FFF; 
    opacity: 1; 
}

.factura-switch .btn:focus, .factura-switch .btn.focus {
    box-shadow: none; 
    outline: none; 
}

.factura-switch .btn:hover {
    background-color: #FFF; 
    color: #000; 
    opacity: 0.7; 
}

/* ----------------------------------- */
/* Fieldset */

#CamposProducto {
    position: relative;
    border: 1px solid #C7C8CC;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#CamposFacturasE {
    position: relative;
    border: 1px solid #C7C8CC;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#CamposPlatillos {
    position: relative;
    border: 1px solid #C7C8CC;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#CamposFinales {
    position: relative;
    border: 1px solid #C7C8CC;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

legend {
    position: absolute; 
    top: -13px; 
    left: 10px; 
    background: white; 
    padding: 0 5px 10px !important;
    font-size: inherit !important;
    width: 32% !important;
}

#productoCampos {
    width: 18% !important;
}

#FECampos {
    margin-top: 1rem;
}

#agregarPlatillo {
    cursor: pointer;
}