html, body {
    height: 100%;
    margin: 0;
}

body {
    line-height: 1.6;
    background-color: #F5F7F8;
    font-size: 16px;
}

header .navbar {
    width: 100%; 
    z-index: 1000; 
}

#topbar {
    background-color: white;
    border-bottom: 1px solid #A9A9A9;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    overflow-x: hidden;
}

#sidebar {
    min-width: 290px;
    max-width: 290px;
    transition: all 0.3s;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
}

#sidebar .navbar-brand {
    padding: 0.5rem 1rem;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    width: 100%;
}

#sidebar ul li a {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 0.5rem;
}

#sidebar ul li a:hover {
    background-color: #0DBCB5;
    color: white;
    border-radius: 0.5rem;
}

.navbar-nav .dropdown-menu {
    border: none;
    box-shadow: none;
}

#barnav .nav-item {
    margin-bottom: 0.5rem;
}

.navbar-nav .nav-link {
    color: black;
}

.accordion-item {
    border: none;
}

.accordion-button{
    color: black !important;
}

.accordion-button:not(.collapsed) {
    background-color: #72DDD9 !important;
}

.accordion-button:hover {
    color: white !important;
}

.accordion-body .dropdown-item {
    color: black !important;
}

.accordion-body .dropdown-item:hover {
    text-decoration: none;
}

.accordion-body .list-unstyled li {
    margin-bottom: 0.5rem;
}

.accordion-body .list-unstyled li a:hover {
    color: white !important;
}

#content {
    flex-grow: 1;
    padding: 1rem;
    padding-top: 3rem;
    overflow-y: auto;
    background-color: #F5F7F8;
}

#content2 {
    flex-grow: 1;
    padding: 1rem;
    padding-top: 0;
    overflow-y: auto;
    background-color: white;
    align-items: center;
}

.nav-link-icon svg {
    margin-bottom: 0.2em;
    margin-right: 0.5em;
}

.nav-link-icon2 svg {
    margin-bottom: 0.1em;
    margin-right: 0.3em;
}


#dropdownNotificaciones {
    color: black;
    background-color: white;
    border: 0;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

#dropdownNotificaciones:hover {
    color: white;
    background-color: #0DBCB5;
}

#dropdownNotificaciones:focus {
    background-color: #72DDD9;
    color: white;
    box-shadow: none;
}

#dropdownNotificaciones::after {
    display: none;
}

.hr-notificaciones {
    margin-top: 0;
    margin-bottom: 0;
}

.hr-notificaciones:not([size]) {
    height: 0px;
}

#notificacionesContainer {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.badge {
    background-color: #D71313;
}

.badge:focus {
    background-color: #FFE1E1 !important;
}

@media (max-width: 500px){
    #iconEmpresa{
        display: none;
    }

    #topbarMenu {
        align-content: end !important;
        justify-content: end !important;
    }

    #topbarMenu button {
        font-size: 1rem !important;
    }

    #topbarMenu button svg {
        width: 26px !important;
        height: 26px !important;
    }

    #topbarMenu button #iconSesion {
        width: 16px !important;
        height: 16px !important;
    }

    h1 img {
        display: none;
    }

    h2 img {
        display: none;
    }

    p {
        font-size: 0.8rem !important;
    }

    .CartasPresupuestos strong {
        font-size: 1rem !important;
    }

    table td, table th {
        padding: 0.5rem !important;
    }

    button {
        font-size: 0.8rem !important;
    }

    button svg {
        width: 13px !important;
        height: 13px !important;
    }

    .close{
        font-size: 1.5rem !important;
    }

    table button {
        padding: 0.25rem !important;
    }
}

@media (max-width: 830px) {
    #sidebar {
        display: none !important;
    }

    .navbar-toggler {
        display: block;
        background-color: #0DBCB5 !important;
        border-color: #0DBCB5 !important;
        border-radius: 0.5rem !important;
        margin-left: 0.5rem !important;
        padding: 0.25rem 0.25rem !important;
        color: white !important;
    }

    .navbar-toggler:hover {
        background-color: #72DDD9 !important;
        border-color: #72DDD9 !important;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #menuTop {
        position: absolute;
        width: 100%;
        top: 56px;
        background-color: white;
    }
}

@media (min-width: 831px) {
    #sidebar {
        display: block !important;
    }

    .navbar-toggler {
        display: none;
    }

    #menuTop {
        display: none !important;
    }
}

#HomeB {
    padding: 1rem 1.25rem;
}

#HomeB:hover {
    padding: 1rem 1.25rem;
    color: white;
}

#PronosticosB {
    padding: 1rem 1.25rem;
}

#PronosticosB:hover {
    padding: 1rem 1.25rem;
    color: white;
}


#menuTop ul li:hover {
    background-color: #0DBCB5 !important;
    color: white !important;
}

#accordbtn:hover {
    background-color: #0DBCB5;
    color: white;
    text-decoration: none;
}

.menuCollapsed ul li a {
    border-radius: 5px 0 0 5px !important;
}

.menuCollapsed ul li a:hover {
    background-color: #0DBCB5 !important;
    color: white !important;
}

.menu-perfil li a {
    cursor: pointer;
    color: black !important;
    text-decoration: none !important;
}

.menu-perfil li a:hover {
    background-color: #0DBCB5 !important;
    color: white !important;
}

#notificacionesContainer #alertaNotificacion:hover {
    background-color: #72DDD9 !important;
    color: white !important;
}

.allAlerts a {
    width: 100%;
    text-decoration: none;
}

.allAlerts:hover {
    background-color: #0DBCB5;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.allAlerts a:hover {
    background-color: #0DBCB5;
    color: white;
    text-decoration: none;
    cursor: pointer;
}