html, body {
    height: 100%;
    margin: 0;
}

body {
    line-height: 1.6;
    background-color: #F5F7F8;
    font-size: 16px;
}

header .navbar {
    width: 100%; 
    z-index: 1000; 
}

#topbar {
    background-color: white;
    border-bottom: 1px solid #A9A9A9;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    overflow-x: hidden;
}

#sidebar {
    min-width: 290px;
    max-width: 290px;
    transition: all 0.3s;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
}

#sidebar .navbar-brand {
    padding: 0.5rem 1rem;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    width: 100%;
}

#sidebar ul li a {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 0.5rem;
}

#sidebar ul li a:hover {
    background-color: #0DBCB5;
    color: white;
    border-radius: 0.5rem;
}

.navbar-nav .dropdown-menu {
    border: none;
    box-shadow: none;
}

#barnav .nav-item {
    margin-bottom: 0.5rem;
}

.navbar-nav .nav-link {
    color: black;
}

.accordion-item {
    border: none;
}

.accordion-button{
    color: black !important;
}

.accordion-button:not(.collapsed) {
    background-color: #72DDD9 !important;
}

.accordion-button:hover {
    color: white !important;
}

.accordion-body .dropdown-item {
    color: black !important;
}

.accordion-body .dropdown-item:hover {
    text-decoration: none;
}

.accordion-body .list-unstyled li {
    margin-bottom: 0.5rem;
}

.accordion-body .list-unstyled li a:hover {
    color: white !important;
}

#content {
    flex-grow: 1;
    padding: 1rem;
    padding-top: 3rem;
    overflow-y: auto;
    background-color: #F5F7F8;
}

.nav-link-icon svg {
    margin-bottom: 0.2em;
    margin-right: 0.5em;
}

.nav-link-icon2 svg {
    margin-bottom: 0.1em;
    margin-right: 0.3em;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
    }

    #content {
        padding-left: 80px; 
    }

    #sidebar ul li a {
        text-align: center;
        padding: 0.5rem;
    }

    #sidebar .navbar-brand {
        display: none; 
    }

    .wrapper {
        flex-direction: column;
    }
}

#dropdownNotificaciones {
    color: black;
    background-color: white;
    border: 0;
}

#dropdownNotificaciones:hover {
    color: white;
    background-color: #0DBCB5;
}

#dropdownNotificaciones:focus {
    background-color: #72DDD9;
    color: white;
    box-shadow: none;
}

#dropdownNotificaciones::after {
    display: none;
}

.hr-notificaciones {
    margin-top: 0;
    margin-bottom: 0;
}

.hr-notificaciones:not([size]) {
    height: 0px;
}

#notificacionesContainer {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.badge {
    background-color: #D71313;
}

.badge:focus {
    background-color: #FFE1E1 !important;
}