@model PupuseriaSalvadorena.Models.TipoMovimiento

<form id="TipoMovimientoForm" asp-action="Create" asp-controller="TipoMovimientos" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Nombre del Movimiento</label>
        <input asp-for="NombreMov" class="form-control" />
        <span asp-validation-for="NombreMov" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="button" id="submitTipoMovimiento" class="btn btn-primary agregar-boton">Agregar</button>
    </div>
</form>