@model PupuseriaSalvadorena.Models.ConciliacionBancaria

<form id="conciliacionForm" asp-action="Create" asp-controller="ConciliacionBancarias" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Saldo en la Cuenta Bancaria</label>
        <div class="input-group">
            <span class="input-group-text">₡</span>
            <input id="SaldoBancario" name="SaldoBancario" class="form-control" placeholder="0.00" />
            <span asp-validation-for="SaldoBancario" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Cuenta Bancaria</label>
                <select asp-for="IdRegistro" asp-items="@ViewBag.RegistrosBancarios" class="form-control">
                    <option value="">Seleccione la cuenta</option>
                </select>
                <span asp-validation-for="IdRegistro" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Libro Contable</label>
                <select asp-for="IdRegistroLibros" asp-items="@ViewBag.RegistrosLibros" class="form-control">
                    <option value="">Seleccione el libro</option>
                </select>
                <span asp-validation-for="IdRegistroLibros" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Observaciones</label>
        <textarea asp-for="Observaciones" class="form-control" id="CampoArea" placeholder="Observaciones adicionales sobre la conciliación"></textarea>
        <span asp-validation-for="Observaciones" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="button" id="submitConciliacionForm" class="btn btn-primary agregar-boton">Agregar</button>
    </div>
</form>