@model PupuseriaSalvadorena.Models.ConciliacionBancaria

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ConciliacionBancaria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdConciliacion" class="control-label"></label>
                <input asp-for="IdConciliacion" class="form-control" />
                <span asp-validation-for="IdConciliacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaConciliacion" class="control-label"></label>
                <input asp-for="FechaConciliacion" class="form-control" />
                <span asp-validation-for="FechaConciliacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoBancario" class="control-label"></label>
                <input asp-for="SaldoBancario" class="form-control" />
                <span asp-validation-for="SaldoBancario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoLibro" class="control-label"></label>
                <input asp-for="SaldoLibro" class="form-control" />
                <span asp-validation-for="SaldoLibro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diferencia" class="control-label"></label>
                <input asp-for="Diferencia" class="form-control" />
                <span asp-validation-for="Diferencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRegistro" class="control-label"></label>
                <input asp-for="IdRegistro" class="form-control" />
                <span asp-validation-for="IdRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRegistroLibros" class="control-label"></label>
                <input asp-for="IdRegistroLibros" class="form-control" />
                <span asp-validation-for="IdRegistroLibros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
