@model PupuseriaSalvadorena.Models.CuentaPagar

<form id="editCuentaPagarForm" asp-action="Edit" asp-controller="CuentaPagars" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdCuentaPagar" />
    <input asp-for="FechaCreacion" class="form-control" type="hidden" />
    <input asp-for="TotalPagado" class="form-control" type="hidden" />
    <input asp-for="IdFacturaCompra" class="form-control" type="hidden" />
    <input asp-for="IdProveedor" class="form-control" type="hidden" />
    <input type="hidden" asp-for="Estado" class="form-control" />
    <div class="form-group">
        <label asp-for="FechaVencimiento" class="control-label"></label>
        <input asp-for="FechaVencimiento" class="form-control" type="date" />
        <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="submit" id="submitEditCuentaPagar" class="btn btn-primary agregar-boton">Editar</button>
    </div>
</form>