@model PupuseriaSalvadorena.Models.Proveedor

<form id="ProveedorForm" asp-action="Create" asp-controller="Proveedores" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="NombreProveedor" class="form-control" placeholder="Nombre"/>
                <span asp-validation-for="NombreProveedor" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Apellido</label>
                <input asp-for="ApellidoProveedor" class="form-control" placeholder="Apellido"/>
                <span asp-validation-for="ApellidoProveedor" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Telefono</label>
        <input type="number" id="Telefono" name="Telefono" class="form-control" placeholder="Telefono del proveedor" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="button" id="submitProveedor" class="btn btn-primary agregar-boton">Agregar</button>
    </div>
</form>