@model PupuseriaSalvadorena.Models.TipoTransacciones

<form id="editTipoTForm" asp-action="Edit" asp-controller="TipoTransacciones" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdTipo" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Nombre del Tipo</label>
                <input asp-for="TipoTransac" class="form-control" />
                <span asp-validation-for="TipoTransac" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Tipo de Movimiento</label>
                <select asp-for="IdMovimiento" asp-items="@ViewBag.Movimientos" class="form-control">
                    <option value="">Tipo de Movimiento</option>
                </select>
                <span asp-validation-for="IdMovimiento" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Impuesto</label>
        <select asp-for="IdImpuesto" asp-items="@ViewBag.Impuestos" class="form-control">
            <option value="">Tipo de Impuesto</option>
        </select>
        <span asp-validation-for="IdImpuesto" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="submit" id="submitEditTipoTForm" class="btn btn-primary agregar-boton">Editar</button>
    </div>
</form>