@model PupuseriaSalvadorena.Models.Usuario

@{
    Model.FechaCreacion = Model.FechaCreacion == default ? DateTime.Now : Model.FechaCreacion;
    Model.FechaNac = Model.FechaNac == default ? DateTime.Now : Model.FechaNac;
}

<form id="PasswordForm" asp-action="EditPassword" asp-controller="Usuarios" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdUsuario" />
    <div class="form-group">
        <label class="control-label">Contraseña Actual</label>
        <input asp-for="Contrasena" class="form-control" placeholder="Contraseña Actual" type="password" required />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Nueva Contraseña</label>
        <input asp-for="NuevaContrasena" id="ContrasenaEdit" class="form-control" placeholder="Nueva Contraseña" type="password" required />
        <span asp-validation-for="NuevaContrasena" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Confirmar Contraseña</label>
        <input id="ContrasenaConfirm" class="form-control" placeholder="Nueva Contraseña" type="password" required />
        <span class="text-danger"></span>
    </div>
    
    <div class="form-group text-right">
        <button type="submit" id="submitPasswordForm" class="btn btn-primary agregar-boton">Editar</button>
    </div>
</form>