@model PupuseriaSalvadorena.Models.Platillo

<form id="editPlatilloForm" asp-action="Edit" asp-controller="Platillos" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdPlatillo" />
    <div class="form-group">
        <label asp-for="NombrePlatillo" class="control-label"></label>
        <input asp-for="NombrePlatillo" class="form-control" />
        <span asp-validation-for="NombrePlatillo" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Costo de Produccion</label>
                <div class="input-group">
                    <span class="input-group-text">₡</span>
                    <input asp-for="CostoProduccion" class="form-control" placeholder="0.00" id="produccion"/>
                    <span asp-validation-for="CostoProduccion" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Precio de Venta</label>
                <div class="input-group">
                    <span class="input-group-text">₡</span>
                    <input asp-for="PrecioVenta" class="form-control" placeholder="0.00" id="precio"/>
                    <span asp-validation-for="PrecioVenta" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group text-right">
        <button type="submit" id="submitEditForm" class="btn btn-primary agregar-boton">Editar</button>
    </div>
</form>