@model PupuseriaSalvadorena.Models.TipoPago

<form id="editTipoPForm" asp-action="Edit" asp-controller="TipoPagos" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdTipoPago" />
    <div class="form-group">
        <label asp-for="NombrePago" class="control-label"></label>
        <input asp-for="NombrePago" class="form-control" />
        <span asp-validation-for="NombrePago" class="text-danger"></span>
    </div>
    <div class="form-group form-check" style="padding-left: 0; margin-bottom: 0.5rem;">
        <input asp-for="Estado" type="checkbox" id="check" class="form-check-input" />
        <label asp-for="Estado" for="check" class="form-check-label CheckboxTransac"><span></span></label>@Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="form-group text-right">
        <button type="submit" id="submitEditTipoPForm" class="btn btn-primary  agregar-boton">Editar</button>
    </div>
</form>
