@model PupuseriaSalvadorena.Models.TipoPago

<form id="TipoPForm" asp-action="Create" asp-controller="TipoPagos" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Estado" class="form-control" value="true" />
    <div class="form-group">
        <label class="control-label">Nombre del Pago</label>
        <input asp-for="NombrePago" class="form-control" />
        <span asp-validation-for="NombrePago" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="button" id="submitTipoPForm" class="btn btn-primary agregar-boton">Agregar</button>
    </div>
</form>
