@model PupuseriaSalvadorena.Models.FacturaCompra

@{
    Model.FechaFactura = Model.FechaFactura == default ? DateTime.Now : Model.FechaFactura;
    Model.FechaVencimiento = Model.FechaVencimiento == default ? DateTime.Now : Model.FechaVencimiento;
}

<form id="FacturaCForm" asp-action="Create" asp-controller="FacturaCompras" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Activo" class="form-control" id="cuentaPorPagar" type="hidden" />
    <input asp-for="IdTipoFactura" value="1" class="form-control" type="hidden" />
    <div class="form-group">
        <div class="btn-group btn-group-toggle d-flex factura-switch" data-toggle="buttons">
            <label class="btn btn-secondary flex-fill active">
                <input type="radio" name="EstadoFactura" id="FacturaPagada" autocomplete="off" value="Pagada" checked> Factura Pagada
            </label>
            <label class="btn btn-secondary flex-fill">
                <input type="radio" name="EstadoFactura" id="FacturaPorPagar" autocomplete="off" value="porPagar"> Factura por Pagar
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Fecha de la Compra</label>
                <input asp-for="FechaFactura" class="form-control" type="date" />
                <span asp-validation-for="FechaFactura" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" id="campoFechaVencimiento" style="display: none;">
                <label class="control-label">Fecha de Vencimiento</label>
                <input asp-for="FechaVencimiento" class="form-control" type="date" id="FechaVencimiento" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Factura de Compra</label>
        <input asp-for="FacturaDoc" type="file" class="form-control" />
        <span asp-validation-for="FacturaDoc" class="text-danger"></span>
    </div>
    <fieldset id="CamposProducto">
        <legend id="productoCampos">Producto</legend>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group" id="campoProveedor">
                    <label class="control-label">Proveedor</label>
                    <select class="form-control" id="IdProveedor" name="IdProveedor" asp-items="@ViewBag.Proveedores">
                        <option value="">Proveedores</option>
                    </select>
                    <span asp-validation-for="IdProveedor" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Materia Prima</label>
                    <select asp-for="IdMateriaPrima" class="form-control" id="IdMateriaPrima">
                        <option value="">Materias Primas</option>
                    </select>
                    <span asp-validation-for="IdMateriaPrima" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Cant.</label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Monto de la Compra</label>
                    <div class="input-group">
                        <span class="input-group-text">₡</span>
                        <input asp-for="TotalCompra" class="form-control" />
                        <span asp-validation-for="TotalCompra" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Peso</label>
                    <div class="input-group">
                        <span class="input-group-text">Kg.</span>
                        <input asp-for="Peso" class="form-control" />
                        <span asp-validation-for="Peso" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <label class="control-label">Tipo de Pago</label>
        <select asp-for="IdTipoPago" asp-items="@ViewBag.TipoPagos" class="form-control">
            <option value="">Seleccione el tipo de pago</option>
        </select>
        <span asp-validation-for="IdTipoPago" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Observaciones</label>
        <textarea asp-for="DetallesCompra" class="form-control" id="CampoArea"></textarea>
        <span asp-validation-for="DetallesCompra" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="button" id="submitFacturaC" class="btn btn-primary agregar-boton">Agregar</button>
    </div>
</form>