@model PupuseriaSalvadorena.Models.FacturaCompra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FacturaCompra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFacturaCompra" class="control-label"></label>
                <input asp-for="IdFacturaCompra" class="form-control" />
                <span asp-validation-for="IdFacturaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaCom" class="control-label"></label>
                <input asp-for="FacturaCom" class="form-control" />
                <span asp-validation-for="FacturaCom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFactura" class="control-label"></label>
                <input asp-for="FechaFactura" class="form-control" />
                <span asp-validation-for="FechaFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCompra" class="control-label"></label>
                <input asp-for="TotalCompra" class="form-control" />
                <span asp-validation-for="TotalCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetallesCompra" class="control-label"></label>
                <input asp-for="DetallesCompra" class="form-control" />
                <span asp-validation-for="DetallesCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoPago" class="control-label"></label>
                <input asp-for="IdTipoPago" class="form-control" />
                <span asp-validation-for="IdTipoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoFactura" class="control-label"></label>
                <input asp-for="IdTipoFactura" class="form-control" />
                <span asp-validation-for="IdTipoFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
