@model PupuseriaSalvadorena.Models.Canton

<form id="cantonForm" asp-action="Create" asp-controller="Cantones" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NombreCanton" class="control-label"></label>
        <input asp-for="NombreCanton" class="form-control" />
        <span asp-validation-for="NombreCanton" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdProvincia" class="control-label"></label>
        <select asp-for="IdProvincia" asp-items="@ViewBag.Provincias" class="form-control">
            <option value="">Seleccione un impuesto</option>
        </select>
        <span asp-validation-for="IdProvincia" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="button" id="submitCantonesForm" class="btn btn-primary">Agregar</button>
    </div>
</form>