@model PupuseriaSalvadorena.Models.RegistroLibro

<form id="editLibroForm" asp-action="Edit" asp-controller="RegistroLibroes" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="IdRegistroLibros" />
    </div>
    <div class="form-group">
        <label asp-for="MontoTotal" class="control-label"></label>
        <input asp-for="MontoTotal" class="form-control" />
        <span asp-validation-for="MontoTotal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <button type="submit" id="submitEditLibroForm" class="btn btn-primary">Editar</button>
    </div>
</form>