@model PupuseriaSalvadorena.Models.DetallesPronostico

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DetallesPronostico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDetallePronostico" class="control-label"></label>
                <input asp-for="IdDetallePronostico" class="form-control" />
                <span asp-validation-for="IdDetallePronostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPronostico" class="control-label"></label>
                <input asp-for="IdPronostico" class="form-control" />
                <span asp-validation-for="IdPronostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPronostico" class="control-label"></label>
                <input asp-for="FechaPronostico" class="form-control" />
                <span asp-validation-for="FechaPronostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCantVenta" class="control-label"></label>
                <input asp-for="PCantVenta" class="form-control" />
                <span asp-validation-for="PCantVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PValorVenta" class="control-label"></label>
                <input asp-for="PValorVenta" class="form-control" />
                <span asp-validation-for="PValorVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
